.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header__title {
  width: 60%;
  color: #e74c3c;
  font-weight: 600 !important;
}

.header__dropdown {
  width: 120px;
  height: fit-content;
}
